.App {
  text-align: center;
 
}
.Nav {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
}

.LogoA {
  height: 50%;
}

.ContIcon1 {
  padding-top: 15px;
  margin-left: auto; 
  margin-right: auto; 
}

.ContLocation{
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {

  .ContIcon1 {
    padding-top: 15px;
  margin-left: 20%; 
  margin-right: auto; 
  }

}

.ContButtonLocation{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
main{
  margin-bottom: 100px;
}
.Iconos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.Icono{
  display: flex;
  margin-left: 40px;
  margin-right: 20px;
  flex-direction: column;
}